
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Check Out</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'checkout/img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'checkout/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'checkout/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'checkout/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'checkout/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'checkout/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'checkout/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'checkout/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'checkout/css/responsive.css' %}">

</head>
<body>

	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

	<!-- header -->
<!--	<div class="top-header-area" id="sticker">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-12 col-sm-12 text-center">-->
<!--					<div class="main-menu-wrap">-->
<!--						&lt;!&ndash; logo &ndash;&gt;-->
<!--						<div class="site-logo">-->
<!--&lt;!&ndash;							<a href="index.html">&ndash;&gt;-->
<!--&lt;!&ndash;								<img src="{% static 'checkout/img/logo.png' %}" alt="">&ndash;&gt;-->
<!--							</a>-->
<!--						</div>-->
<!--						&lt;!&ndash; logo &ndash;&gt;-->

<!--						&lt;!&ndash; menu start &ndash;&gt;-->
<!--&lt;!&ndash;						<nav class="main-menu">&ndash;&gt;-->
<!--&lt;!&ndash;							<ul>&ndash;&gt;-->
<!--&lt;!&ndash;								<li class="current-list-item"><a href="#">Home</a>&ndash;&gt;-->
<!--&lt;!&ndash;									<ul class="sub-menu">&ndash;&gt;-->
<!--&lt;!&ndash;										<li><a href="index.html">Static Home</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;										<li><a href="index_2.html">Slider Home</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;									</ul>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;								<li><a href="about.html">About</a></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;								<li><a href="#">Pages</a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;									<ul class="sub-menu">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;										<li><a href="404.html">404 page</a></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;										<li><a href="about.html">About</a></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;										<li><a href="cart.html">Cart</a></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;										<li><a href="checkout.html">Check Out</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;										<li><a href="contact.html">Contact</a></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;										<li><a href="news.html">News</a></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;										<li><a href="shop.html">Shop</a></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;									</ul>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->
<!--&lt;!&ndash;								<li><a href="news.html">News</a>&ndash;&gt;-->
<!--&lt;!&ndash;									<ul class="sub-menu">&ndash;&gt;-->
<!--&lt;!&ndash;										<li><a href="news.html">News</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;										<li><a href="single-news.html">Single News</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;									</ul>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->
<!--&lt;!&ndash;								<li><a href="contact.html">Contact</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;								<li><a href="shop.html">Shop</a>&ndash;&gt;-->
<!--&lt;!&ndash;									<ul class="sub-menu">&ndash;&gt;-->
<!--&lt;!&ndash;										<li><a href="shop.html">car</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;										<li><a href="checkout.html">Check Out</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;										<li><a href="single-product.html">Single Product</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;										<li><a href="cart.html">Cart</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;									</ul>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->
<!--&lt;!&ndash;								<li>&ndash;&gt;-->
<!--&lt;!&ndash;									<div class="header-icons">&ndash;&gt;-->
<!--&lt;!&ndash;										<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;									</div>&ndash;&gt;-->
<!--&lt;!&ndash;								</li>&ndash;&gt;-->
<!--&lt;!&ndash;							</ul>&ndash;&gt;-->
<!--&lt;!&ndash;						</nav>&ndash;&gt;-->
<!--						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>-->
<!--						<div class="mobile-menu"></div>-->
<!--						&lt;!&ndash; menu end &ndash;&gt;-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
	<!-- end header -->

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section " style="colo">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
							            <h2 style="color: white;"><a style="color: #01d28e;;" href="">AUTO</a> </h2>
						               <h2 style="color: #01d28e;;"><a style="color: white;;" href="">DELUXE</a></h2>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						  <div class="card single-accordion">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button style="color: #01d28e;;" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          Customer Address
						        </button>
						      </h5>
						    </div>

						    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="billing-address-form">
						        	<form action="{% url 'saveadcheckout' %}" method="post" enctype="multipart/form-data">
										{% csrf_token %}
						        		<p><input type="text" placeholder="Name" name="name"></p>
						        		<p><input type="email" placeholder="Email" name="email"></p>
						        		<p><input type="text" placeholder="Address" name="address"></p>
						        		<p><input type="number" placeholder="Phone" name="phone"></p>
<!--										<p><input type="text" placeholder="" name="name" value="{{d.NAME}}"></p>-->
<!--										<p><input type="number" placeholder="" name="price" value="{{d.PRICE}}"></p>-->
<!--						        		<p><textarea name="bill" id="bill" cols="30" rows="10" placeholder="Say Something"></textarea></p>-->
						        	<center><div class="container">
        <div class="wrapper">
        <h1  style="color: #01d28e;;"></h1>
            <button type="submit" style="color: #01d28e;;" class="btn btn-secondary btn-lg"> Place Order</button>
        </div>
    </div></center>
									</form>
						        </div>
						      </div>
						    </div>
						  </div>
<!--						  <div class="card single-accordion">-->
<!--						    <div class="card-header" id="headingTwo">-->
<!--						      <h5 class="mb-0">-->
<!--						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
<!--						          SUBMIT-->
<!--						        </button>-->
<!--						      </h5>-->
<!--						    </div>-->
<!--&lt;!&ndash;						    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">&ndash;&gt;-->
<!--&lt;!&ndash;						      <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;						        <div class="shipping-address-form">&ndash;&gt;-->
<!--&lt;!&ndash;						        	<p>Your shipping address form is here.</p>&ndash;&gt;-->
<!--&lt;!&ndash;						        </div>&ndash;&gt;-->
<!--&lt;!&ndash;						      </div>&ndash;&gt;-->
<!--&lt;!&ndash;						    </div>&ndash;&gt;-->
<!--						  </div>-->
<!--						  <div class="card single-accordion">-->
<!--						    <div class="card-header" id="headingThree">-->
<!--						      <h5 class="mb-0">-->
<!--						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
<!--						          Card Details-->
<!--						        </button>-->
<!--						      </h5>-->
<!--						    </div>-->
<!--						    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">-->
<!--						      <div class="card-body">-->
<!--						        <div class="card-details">-->
<!--						        	<p>Your card details goes here.</p>-->
<!--						        </div>-->
<!--						      </div>-->
<!--						    </div>-->
<!--						  </div>-->

<!--						 <button type="button" style="color: #01d28e;;" class="btn btn-secondary btn-lg">SUBMIT</button>-->
<!--                       <button type="button" class="btn btn-secondary btn-lg"><a style="color: rgb(10, 4, 4);" href="">INTERESTED</a></button>-->




						</div>

					</div>
				</div>

				<div class="col-lg-4">
					<div class="order-details-wrap">
						<table class="order-details">
							<thead>
							</thead>
							<tbody class="order-details-body">
								<tr>
									<td>Product</td>
									<td>Total</td>
									<td>Delete</td>
								</tr>

								{% for d in data %}
								<tr>
									<td>{{d.NAME}}</td>
									<td>{{d.PRICE}}</td>
									<td>
										<form action="{% url 'deleteproduct' dataid=d.id %}">
										<button type="submit" class="btn btn-danger">Remove</button>
											</form>
									</td>
								</tr>
							{% endfor %}

							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end check out section -->

	<!-- logo carousel -->
<!--	<div class="logo-carousel-section">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-12">-->
<!--					<div class="logo-carousel-inner">-->
<!--						<div class="single-logo-item">-->
<!--							<img src="{% static 'checkout/img/company-logos/1.png' %}" alt="">-->
<!--						</div>-->
<!--						<div class="single-logo-item">-->
<!--							<img src="{% static 'checkout/img/company-logos/2.png' %}" alt="">-->
<!--						</div>-->
<!--						<div class="single-logo-item">-->
<!--							<img src="{% static 'checkout/img/company-logos/3.png' %}" alt="">-->
<!--						</div>-->
<!--						<div class="single-logo-item">-->
<!--							<img src="{% static 'checkout/img/company-logos/4.png' %}" alt="">-->
<!--						</div>-->
<!--						<div class="single-logo-item">-->
<!--							<img src="{% static 'checkout/img/company-logos/5.png' %}" alt="">-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
<!--			<div class="row">-->
			  <h2 style="color: white;">AUTO </h2>
			<h2 style="color: #01d28e;;">DELUXE</h2>
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="footer-box about-widget">-->
<!--						<h2 class="widget-title">About us</h2>-->
<!--						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="footer-box get-in-touch">-->
<!--						<h2 class="widget-title">Get in Touch</h2>-->
<!--						<ul>-->
<!--							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>-->
<!--							<li>support@fruitkha.com</li>-->
<!--							<li>+00 111 222 3333</li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="footer-box pages">-->
<!--						<h2 class="widget-title">Pages</h2>-->
<!--						<ul>-->
<!--							<li><a href="index.html">Home</a></li>-->
<!--&lt;!&ndash;							<li><a href="about.html">About</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;							<li><a href="services.html">Shop</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;							<li><a href="news.html">News</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;							<li><a href="contact.html">Contact</a></li>&ndash;&gt;-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-3 col-md-6">-->
<!--					<div class="footer-box subscribe">-->
<!--						<h2 class="widget-title">Subscribe</h2>-->
<!--						<p>Subscribe to our mailing list to get the latest updates.</p>-->
<!--						<form action="index.html">-->
<!--							<input type="email" placeholder="Email">-->
<!--							<button type="submit"><i class="fas fa-paper-plane"></i></button>-->
<!--						</form>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
		</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
<!--	<div class="copyright">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-6 col-md-12">-->
<!--					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.</p>-->
<!--				</div>-->
<!--				<div class="col-lg-6 text-right col-md-12">-->
<!--					<div class="social-icons">-->
<!--						<ul>-->
<!--							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>-->
<!--							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>-->
<!--							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>-->
<!--							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>-->
<!--							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
	<!-- end copyright -->

	<!-- jquery -->
	<script src="{% static 'checkout/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'checkout/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'checkout/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'checkout/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'checkout/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'checkout/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'checkout/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'checkout/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'checkout/js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'checkout/js/main.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

   {% if messages %}
  {% for message in messages %}

   {% if message.tags == 'warning' %}
   <script>
  swal('{{message}}','','warning');
   </script>

   {% elif message.tags == 'error' %}
   <script>
  swal('{{message}}','','error');
   </script>

   {% else%}
   <script>
  swal('{{message}}','','success');
   </script>

   {% endif %}

   {% endfor %} {% endif %}

</body>
</html>